@import "lib/vars";
@import "lib/mixins";
@import "lib/reboot";
@import "lib/fontawesome/font-awesome";
@import "lib/fontface";
@import "lib/keyframes";

@import "./partials/header";
@import "./partials/slider";
@import "./partials/galeria";
@import "./partials/footer";

$corporateColor: #ea4c89;
$base: 8px;

// * {
//     border: 1px solid $corporateColor;
// }

html,
body {
    font-size: $base * 2;
    font-family: $font_family_base;
    line-height: $base * 3;
    color: $body_color;
    min-height: 100vh;
}
h1 {
    font-size: $base * 6.5;
    line-height: $base * 7;
}
h2 {
    font-size: $base * 4;
}
h3 {
    font-size: $base * 3;
}
h4 {
    font-size: $base * 2;
    margin: 0;
}
p {
    margin: 0;
}
input {
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 10px;
    outline: 0;
}

.cta_signup_dark {
    background-color: $corporateColor;
    box-shadow: 8px 8px 16px rgba(20, 20, 20, 0.8),
        -8px -8px 16px rgba(94, 94, 94, 0.8);
    color: #ffcade;
    font-weight: normal;
    border-radius: $base;
    padding: $base $base * 2;
    border: none;
}
.cta_signup_dark:active {
    box-shadow: inset 8px 8px 16px rgba(52, 52, 52, 0.537),
        inset -8px -8px 16px #ffa2c6a0;
    color: rgb(194, 194, 194);
}
.cta_signup_dark:focus {
    outline: none;
}
.cta_signup_light {
    background-color: $corporateColor;
    box-shadow: 8px 8px 16px rgba(165, 177, 198, 0.8),
        -8px -8px 16px rgba(255, 255, 255, 0.932);
    color: #ffcade;
    font-weight: normal;
    border-radius: $base;
    padding: $base $base * 2;
    border: none;
}
.cta_signup_light:active {
    box-shadow: inset 8px 8px 16px rgba(52, 52, 52, 0.299),
        inset -8px -8px 16px #ffa2c6a0;
    color: rgb(194, 194, 194);
}
.cta_signup_light:focus {
    outline: none;
}

// modal

.modal_container {
    display: flex;
    background-color: rgba(255, 237, 134, 0.755);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    z-index: 9999999999999;

    &.show {
        opacity: 1;
        pointer-events: auto;
    }

    .modal {
        width: 600px;
        max-width: 100%;
        max-height: 100%;
        padding: 30px 50px;
        height: 700px;
        background-color: white;
        text-align: center;
        border-radius: $base;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.301);

        .modal_header {
            text-align: left;
            .modal_header_icon {
                display: flex;
                justify-content: flex-end;
                .close {
                    background-color: white;
                    border: none;
                }
            }
            .modal_header_tittle {
                padding-top: 2rem;
                h3 {
                    span {
                        color: $corporateColor;
                    }
                }
            }
        }
        .modal_contenido {
            .modal_redes {
                display: flex;
                justify-content: space-around;
                .modal_red {
                    padding: 1rem 1rem 1rem 0;
                    width: 300px;
                    margin-left: auto;
                    margin-right: auto;

                    button {
                        background-color: white;
                        padding: $base;
                        width: 100%;
                        border-radius: $base;
                        .fa {
                            padding-right: $base * 2;
                        }
                    }
                }
            }
            .modal_inputs {
                .modal_divisor {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .divisor_line {
                        width: 47%;
                        height: 0;
                        border: 0.5px solid black;
                        margin: $base;
                    }
                }
                .modal_inputs_items {
                    .modal_inputs_names {
                        display: flex;
                        justify-content: space-between;
                        .input_name {
                            width: 45%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            input {
                                width: 100%;
                                padding: 10px;
                            }
                        }
                        .input_username {
                            width: 45%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            input {
                                width: 100%;
                                padding: 10px;
                            }
                        }
                    }
                    .modal_inputs_mail {
                        .input_email {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            input {
                                width: 100%;
                                padding: 10px;
                            }
                        }
                        .input_password {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            input {
                                width: 100%;
                                padding: 10px;
                            }
                            input:hover {
                                background-color: rgb(255, 255, 255);
                                border: 0.5px solid rgb(233, 233, 233);
                                box-shadow: 8px 8px 8px
                                        rgba(255, 144, 218, 0.211),
                                    -8px -8px 8px rgba(255, 144, 218, 0.217);
                            }
                        }
                    }
                    .modal_inputs_check {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                    }
                    .check_text {
                        p {
                            font-size: $base * 2;
                            margin-left: $base;
                            font-weight: lighter;
                        }
                    }
                }
            }
            .modal_create {
                display: flex;
                justify-content: start;
                button {
                    background-color: $corporateColor;
                    color: white;
                    margin-top: 1em;
                    padding: 0.5rem 3rem;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                }
                button:hover {
                    background-color: rgb(235, 129, 177);
                }
            }
        }
        .signin {
            margin-top: 1em;
            text-align: left;
            p {
                text-align: left;
                font-size: $base * 2;
                a {
                    color: $corporateColor;
                    padding-left: $base;
                }
            }
        }
        p {
            text-align: left;
            margin-top: 1em;
            font-size: $base;
        }
    }
}

.input_del_modal {
    width: 100%;
    padding: 10px;
}
.input_del_modal:hover {
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgb(233, 233, 233);
    box-shadow: 8px 8px 8px rgba(255, 144, 218, 0.211),
        -8px -8px 8px rgba(255, 144, 218, 0.217);
}
