$corporateColor: #ea4c89;

.slider {
    .slider_holder {
        padding: 2rem 4em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(86, 86, 86);
        height: 500px;
        width: 100%;
        .slider_left {
            display: flex;
            align-items: center;
            .slider_left_text {
                width: 600px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h1 {
                    margin: 0;
                    color: gainsboro;
                }
                p {
                    padding: 0.8rem 0rem;
                    color: gainsboro;
                }
            }
        }
        .slider_right {
            img {
                width: 500px;
            }
            .img_description {
                text-align: end;
                padding-top: 1rem;
                color: rgb(148, 148, 148);
                a {
                    color: $corporateColor;
                }
            }
        }
    }
}

.swiper-container {
    width: 100%;
    .swiper-slide {
        width: 100%;
    }
}

.swiper-button-prev,
.swiper-button-next {
    color: $corporateColor !important;
}
